<table 
  mat-table 
  [dataSource]="dataSource" 
  matSort 
  class="shows-table">
  <!-- Date Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.date | date:'dd/MM/yyyy'}} </td>
  </ng-container>
  <!-- Movie Column -->
  <ng-container matColumnDef="movieId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Movie </th>
    <td mat-cell *matCellDef="let element"> {{element.movieId | movie}} </td>
  </ng-container>
  <!-- Hall Column -->
  <ng-container matColumnDef="hallId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hall </th>
    <td mat-cell *matCellDef="let element"> {{element.hallId | hall}} </td>
  </ng-container>
  <!-- Time Column -->
  <ng-container matColumnDef="timeId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
    <td mat-cell *matCellDef="let element"> {{element.timeId | time}} </td>
  </ng-container>
  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <i
      title="Delete Show" 
      class="material-icons action"
      (click)="deleteShow(element._id)">
      delete
    </i>
    <i
      title="Edit Show" 
      class="material-icons action"
      (click)="editShow(element)"
      >
      mode_edit
    </i>
    </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

