<div class="themoviedb-item">
	<div class="text-section">
		<div class="title">{{movieDetails.title}}</div>
	</div>
	<div 
		class="overview-section">
			<img src="{{movieDetails.poster_path}}" />
			<div class="overview">
				{{movieDetails.overview}}
			</div>
	</div>
	<div class="text-section other-details">
		<div class="release-date">
			<span>
				Release Date:
			</span>
			<span>
				{{movieDetails.release_date}}
			</span>
		</div>
		<div class="actions float-right">
			<ng-content select="[action]"></ng-content>
		</div>
	</div>
</div>