<div class="search-movie">
  <div class="form__group field">
    <input 
      type="text"
      class="form__field"
      [(ngModel)]="searchKey"
      #searchInput
      placeholder="Movie Title"
      name="movieTitle"
      [readonly]="isLoading"
      id='movieTitle' />
    <label 
      for="movieTitle" 
      class="form__label">
      Movie Title
    </label>
  </div>
  <div 
    class="no-results" 
    *ngIf="isNoResults">
    <span>No Results</span>
  </div>
  <div 
    class="movies-list"
    infiniteScroll
    [infiniteScrollDistance]="1"
    [infiniteScrollThrottle]="50"
    (scrolled)="loadNextPage()">
    <app-movie-item
      *ngFor="let movie of movies; trackBy: trackbyFunc; let idx = index"
      [movieDetails]="movie"
      (clickOnAction)="saveToLocalMovies($event)"
    >
    <i
      action
      [title]="movie.isSavedInLocal ? 'Saved' : 'Save Locally'" 
      class="material-icons"
      (click)="!movie.isSavedInLocal && saveToLocalMovies(movie.id)"
      [ngClass]="{'saved-in-local': movie.isSavedInLocal}">
      save_alt
    </i>
    </app-movie-item>
  </div>
</div>