<div class="search-movie">
  <div class="form__group field">
    <input 
      type="text"
      class="form__field"
      [(ngModel)]="searchKey"
      #searchInput
      placeholder="Movie Title"
      name="movieTitle"
      [readonly]="isLoading"
      id='movieTitle' />
    <label 
      for="movieTitle" 
      class="form__label">
      Movie Title
    </label>
  </div>
  <div 
    class="movies-list"
    infiniteScroll
    [infiniteScrollDistance]="1"
    [infiniteScrollThrottle]="50"
    (scrolled)="loadNextPage()">
    <app-movie-item
      *ngFor="let movie of movies; trackBy: trackbyFunc; let idx = index"
      [movieDetails]="movie"
      (clickOnAction)="saveToLocalMovies($event)"
    >
    </app-movie-item>
  </div>
</div>