@import '../../utils/colors';

.dialog-title {
  color: $gray;
}

::ng-deep {
  .dialog-button {
    margin-right: 5px;
  }
  .dialog-content .dialog-field {
    width: 200px;
    margin-right: 5px;
    display: block;
  }
}