<div class="app-component">
  <img src="/assets/cinemaNowLogo.jpg" /> 
  <nav>
    <a routerLink="/search" routerLinkActive="active">Search</a>
    <a routerLink="/local" routerLinkActive="active">Local Movies</a>
    <a routerLink="/shows" routerLinkActive="active">Shows</a>
    <a routerLink="/halls" routerLinkActive="active">Halls</a>
  </nav>
  <div 
    class="router-outlet"
    *ngIf="localMoviesService.isReady">
    <router-outlet></router-outlet>
  </div>
  <app-spinner></app-spinner>
</div>